body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
  color: rgb(41, 41, 41);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-container {
  padding: 20px;
}

.splash-chart-container{
  height: 500px;
}

.navbar {
  height: 46px;
  border-bottom: 1px solid rgb(236, 236, 236);
  text-align: center;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 700;
  margin: 6px 12px 6px 12px;
  padding: 1px;
  display: inline-block;
  border-bottom: 2.5px solid rgb(41, 41, 41);
}

.event-output-input {
  height: 500px;
  width: 100%;
}

.panel {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 8px;
}

.data-panel {
  text-align: center;
  height: 140px;
}

.data-panel-title {
  font-size: 1.1em;
  text-transform: uppercase;
}

.padded {
  padding: 20px;
}

.event-output-input {
  border: 1px solid rgb(217, 217, 217);
  padding: 12px;
}

button {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  padding: 4px;
  font-size: 1.2em;
  padding: 8px 16px;
  color: #708CF8;
  border: 1px solid #708CF8;
  background: transparent;
}

button:hover {
  color: white;
  background: #708CF8;
  cursor: pointer;
}
